if SHIELD_GRIPPY_20_LEFT

    # Name must be less than 16 characters long!
    config ZMK_KEYBOARD_NAME
        default "Grippy 20"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

    endif

if SHIELD_GRIPPY_20_LEFT || SHIELD_GRIPPY_20_RIGHT

    config ZMK_BLE
        default y

    config ZMK_USB
        default y

    config ZMK_SPLIT
        default y

    endif
